@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "imports/navs.css";
@import "imports/variables.css";
@import "imports/layout.css";
@import "imports/ui.css";
@import "imports/card.css";
@import "imports/details.css";
@import "imports/form.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    color: white;
 }

h2{
    font-size: 1.2em;
}

body{
    background-color:#252827;
}

.Nasa-logo{
    height: 350px;
    width: 400px;
    margin: 0 autos;
}

.orbit-images {
    cursor: pointer;
    margin-left: 7%;
    height: 350px;
    width: 400px;
}

.cartoon-images {
    margin-left: 7%;
    height: 300px;
    width: 300px;
}

.opening{
    font-size: 1.3em;
    text-align: center;
}

.opening-missions{
    font-size: 1em;
    text-align: center;
}
.center{
    max-width: 820px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.center h1{
    margin-left: 30%;
}

h1{
    color: black;
    text-align: center;
}

blockquote {
    font-style: italic;
    font-size: 1.417em;
    line-height: 1.618;
}

.phobos{
    height:485px;
    width:728px;
    margin-left: 10%;
    margin-top: 2%;
}

.button{
    background-color:#2414B1;
    border: none;
    width: 400px;
    color: white;
    font-weight: bold;
    padding: 1em 120px;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
    display: block;
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left: 20%;
    text-decoration: none;
}

.card-container{
max-width: 1600px;
margin-left: auto;
margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 1em;
}


.pa1{
    color: black;
    text-align: center;
}
.col{
max-width: 100%;
flex-basis: 0;
flex-grow: 1;
padding-left: 0.625rem;
padding-right: 0.625rem;
max-width: 100%;
flex-basis: 100%;
}

.blo{
    display: block;
}

.wid{
    max-width:50%
}

.wid-100{
    max-width:100%
}

.h-auto{
 height:auto !important;
}

.rela{
    position: relative;
}

img{
    max-width: 100%;
}

@media screen and (min-width: 45em){
.opening{
        font-size: 3em;
        text-align: center;
    }
    .col{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        max-width: 50%;
        flex-basis: 50%;
        }   
}


.col2{
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    max-width: 33%;
    flex-basis: 33%;
    }
div.time {
    text-align: center;
    font-size: 32px;
    position: relative;
    color: grey;
    letter-spacing: 2px;
}

.top-center{
    max-width: 100%;
    height: fit-content;
    background-image: url(../images/motif.svg);
    background-repeat: no-repeat;
}

.center{
    padding-top: 7rem;
    padding-bottom: 2rem;
}
.bp{
    border-color: blue;
    border-style:solid;
    border-width: 1px;
    background-color: white;
    padding: 3em;
}
.l-s-a{
    padding-top: 4em;

}